/** ************************* <FONTS> ************************* **/

@font-face {
  font-family: "Montserrat-Black";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/** ************************* <RESET STYLES> ************************* **/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/** ************************* <SLICK> ************************* **/



/** ************************* <COMMON PARAMETERS> ************************* **/

html,
body {
  font-family: "Montserrat-Regular", sans-serif;
  height: 100vh;
  min-width: 320px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

/** ************************* <HEADER> ************************* **/

/*- -------------------- <HEADER-start> -------------------- -*/

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #383838;
  z-index: 2;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  position: relative;
  z-index: 3;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header-logo img {
  width: 250px;
}

.header-logo:hover {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.header-menu {
  position: relative;
  z-index: 2;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-menu__list li {
  margin: 0;
}

.header-menu__link {
  position: relative;
  padding: 0 0 2px 0;
  margin: 0 0 0 20px;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}

.header-menu__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #4973ff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.header-menu__link:hover {
  color: gray;
  opacity: .6;
}

.header-menu__link.active:after {
  opacity: .6;
}

/* HEADER-BURGER */

.header-burger {
  display: none;
}

/* @MEDIA */

/*- -------------------- </HEADER-end> -------------------- -*/

/** ************************* <INTRO> ************************* **/

/*- -------------------- <INTRO-start> -------------------- -*/

.intro {
  margin: 100px 0 0 0;
  background: url("../img/header-bg.jpg");
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-content__title {
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  color: #fafafa;
  margin: 150px 0 100px 0;
}

.intro-content__title span {
  font-size: 25px;
  font-weight: 500;
}

.intro-content__btn {
  width: 280px;
  height: 60px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  margin: 0 0 150px 0;
}

.intro-content__btn:hover {
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;
  -webkit-transition: all 0.8s ease 0.2s;
  -moz-transition: all 0.8s ease 0.2s;
  -ms-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.intro-content__btn-text {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  -webkit-transition: font-size .4s linear;
  -o-transition: font-size .4s linear;
  transition: font-size .4s linear;
}

.intro-content__btn-text:hover {
  font-size: 20px;
}

.intro-content__btn-waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #4973ff;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}

.intro-content__btn-waves:after,
.intro-content__btn-waves:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.intro-content__btn-waves:before {
  background-color: #000;
  border-radius: 48%;
  animation: waves 5s infinite linear;
  -webkit-animation: waves 5s infinite linear;
  -moz-animation: waves 5s infinite linear;
  -o-animation: waves 5s infinite linear;
}

.intro-content__btn-waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear;
  -webkit-animation: waves 10s infinite linear;
  -moz-animation: waves 10s infinite linear;
  -o-animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }

  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }

  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

.intro-content__btn:hover .intro-content__btn-waves {
  top: -50px;
}

/*- -------------------- </INTRO-end> -------------------- -*/

/** ************************* <ABOUT> ************************* **/

/*- -------------------- <ABOUT-start> -------------------- -*/

.about {
  background-color: #fafafa;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-img {
  margin: 150px 0 50px 0;
  position: relative;
}

.about-img__pic {
  width: 300px;
}

.about-img em {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: none;
  color: #fafafa;
  background: #4f4f4f;
  border-radius: 20px;
  padding: 10px;
  margin-left: 21%;
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
}

.about-text {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #030404;
  margin: 0 0 150px 0;
}

/*- -------------------- </ABOUT-end> -------------------- -*/

/** ************************* <SKILLS> ************************* **/

/*- -------------------- <SKILLS-start> -------------------- -*/

.skills {
  background-color: #19242a;
}

.skills-content {
  text-align: -webkit-center;
}

.skills-title {
  color: #fafafa;
  font-weight: 900;
  font-size: 45px;
  padding: 150px 0 50px 0;
}

.skills-items {
  width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 150px 0;
}

.skills-item {
  width: 100px;
  height: 100px;
  background: #ebebeb;
  border-radius: 50%;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-item img {
  width: 80px;
}

/*- -------------------- </SKILLS-end> -------------------- -*/

/** ************************* <SLIDER> ************************* **/

/*- -------------------- <SLIDER-start> -------------------- -*/

.slider {
  background-color: #ebebeb;
}

.slider-title {
  color: #030404;
  
  font-weight: 900;
  font-size: 45px;
  
  text-align: center;
  
  padding: 150px 0 50px 0;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 0 35px 200px 35px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider-item__img {
  width: 300px;
  height: 200px;
  margin: 0 30px;
}

.slider .slick-arrow {
  position: absolute;
  top: 83px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/icons/arrow -left.svg") 0 0/100% no-repeat;
  opacity: .3;
}

.slick-arrow.slick-next {
  right: 0;
  background: url("../img/icons/arrow-right.svg") 0 0/100% no-repeat;
  opacity: .3;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: inherit;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 230px;
}

.slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #b4b4b4;
  border-radius: 50%;
}

.slick-active button {
  background-color: #4973ff;
  border: 2px solid #b4b4b4;
}

.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*- -------------------- </SLIDER-end> -------------------- -*/

/** ************************* <WORK> ************************* **/

/*- -------------------- <WORK-start> -------------------- -*/

/*- -------------------- </WORK-end> -------------------- -*/

/** ************************* <CONTACT> ************************* **/

/*- -------------------- <CONTACT-start> -------------------- -*/

.contact {
  background-color: #19242a;
}

.contact-title {
  color: #fafafa;
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  padding: 150px 0 50px 0;
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 150px 0;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.contact-item__link-icon {
  width: 50px;
  height: 50px;
  margin: 0 0 5px 0;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.contact-item__link-icon:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: translateY(-7px);
  -webkit-filter: saturate(2.5);
  filter: drop-shadow(0 0 6px blue);
  overflow: hidden;
}

.contact-item__text {
  color: #fafafa;
}

/*- -------------------- </CONTACT-end> -------------------- -*/

/** ************************* <FOOTER> ************************* **/

/*- -------------------- <FOOTER-start> -------------------- -*/

.footer {
  background-color: #141d22;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  color: #778899;
  font-weight: lighter;
}

.footer-logo img {
  width: 300px;
  height: 40px;
}

/*- -------------------- </FOOTER-end> -------------------- -*/

/** ************************* <MODAL> ************************* **/

/*- -------------------- <MODAL-start> -------------------- -*/

.modal {
  border-radius: 10px;
  display: none;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #030404;
  margin: 0 0 15px 0;
}

.modal-text {
  margin: 0 0 5px 0;
}

li {
  margin: 0 0 5px 0;
}

li i {
  margin: 0 5px 0 0;
}

/*- -------------------- </MODAL-end> -------------------- -*/

@media (max-width: 1192px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1024px) {
  .header-logo {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .header-logo:hover {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: 0;
    -webkit-animation-name: swing;
    animation-name: none;
    -webkit-animation-duration: 1s;
    animation-duration: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: none;
  }

  .contact-item {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .contact-item__link-icon:hover {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -webkit-filter: none;
    filter: none;
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }

  .header-logo {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .header-logo img {
    width: 150px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header-burger span {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #fafafa;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
  }

  .header-burger:before,
  .header-burger:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fafafa;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .header-burger:before {
    top: 0;
  }

  .header-burger:after {
    bottom: 0;
  }

  .header-burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    background: #5b7a79;
    padding: 120px 0 20px 0;
  }

  .header-menu.active {
    top: 0;
  }

  .header-menu__link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .header-menu__link:hover {
    color: #fafafa;
    opacity: 1;
  }

  .header-menu__link:after {
    content: none;
  }

  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-menu__list li {
    margin: 0 0 10px 0;
  }

  .about-img em {
    display: none;
    visibility: hidden;
  }

  .skills-items {
    width: 100%;
  }

  .contact-item__link-icon:hover {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -webkit-filter: none;
    filter: none;
    overflow: hidden;
  }

  .contact-item__link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .header-logo:hover {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: 0;
    -webkit-animation-name: swing;
    animation-name: none;
    -webkit-animation-duration: 1s;
    animation-duration: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: none;
  }

  .intro {
    margin: 70px 0 0 0;
  }

  .about-img {
    margin: 100px 0 50px 0;
  }

  .about-img__pic {
    width: 200px;
  }

  .about-img em {
    display: none;
    visibility: hidden;
  }

  .about-text {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #030404;
    margin: 0 0 100px 0;
  }

  .skills-title {
    padding: 100px 0 30px 0;
  }

  .skills-items {
    width: 100%;
    padding: 0 0 100px 0;
  }

  .skills-item {
    width: 80px;
    height: 80px;
    background: #ebebeb;
    border-radius: 50%;
    margin: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .skills-item img {
    width: 65px;
  }

  .slider-title {
    padding: 100px 0 50px 0;
  }

  .slider-items {
    padding: 0 0 100px 0;
  }

  .contact-title {
    padding: 100px 0 50px 0;
  }

  .contact-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 100px 0;
  }

  .contact-item {
    margin: 0 0 25px 0;
  }

  .contact-item__link-icon:hover {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -webkit-filter: none;
    filter: none;
    overflow: hidden;
  }

  .contact-item__link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .footer-text {
    font-size: 12px;
    padding: 10px 0;
  }

  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-logo img {
    display: none;
  }

  .modal {
    padding: 15px;
  }
}
@supports (-webkit-appearance:none){
.intro{background:url("../img/header-bg.webp")}
.slick-arrow.slick-prev{background:url("../img/icons/arrow -left.svg") 0 0/100% no-repeat}
.slick-arrow.slick-next{background:url("../img/icons/arrow-right.svg") 0 0/100% no-repeat}
}

 @media (max-width: 1192px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}
